@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section {
  position: relative;
}
.img {
  background-image: url("./img/bg.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.header1 {
  position: absolute;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* border-radius: 15px 0px; */
  font-size: 2.2rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
  outline: 1rem inset rgb(223, 64, 223);
  outline-offset: 1.5rem;
}
.header1 p {
  background-color: rgb(64, 64, 64);
  color: white;
  padding: 3rem;
  border-radius: 1.5rem 0px;
  font-size: 3rem;
}
.sec-bottom {
  text-align: center;
  font-family: "Lato", sans-serif;
  background-color: rgb(241, 241, 241);
  padding: 2rem;
}
.sec-bottom h2 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  margin: 2rem;
}
.sec-bottom p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8rem;
}
.two {
  position: relative;
}
.two .img {
  background-image: url("./img/bg2.jpg");
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.6;
}
.two img {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  opacity: 0.5;
  outline: 1rem inset rgb(223, 64, 223);
}
.two .sec-bottom {
  background-color: rgb(40, 46, 52);
}

.two .sec-bottom p {
  color: white;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.7rem;
  word-spacing: 3px;
  padding: 1.5rem;
}
.two .sec-bottom h2 {
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
}
.three {
  position: relative;
  background-color: #f1f1f1;
}
.three .img {
  background-image: url("./img/bg3.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.6;
}
.three p {
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.7rem;
  word-spacing: 3px;
  padding: 1.5rem;
  font-weight: 100;
}
.three h2 {
  font-weight: bold;
  font-size: 1.5rem;
}

.four {
  position: relative;
}
.four .img {
  background-image: url("./img/bg4.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.6;
}

.four .sec-bottom {
  background-color: rgb(40, 46, 52);
}

.four .sec-bottom p {
  color: white;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.7rem;
  word-spacing: 3px;
  padding: 1.5rem;
  font-weight: 200;
}
.four h2 {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  word-spacing: 0.5rem;
}
.five {
  position: relative;
}
.five .img {
  background-image: url("./img/bg.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.6;
}
